nav.navbar-default{
     padding-top:0.16%;
     background-color:#D3D3D3;
}
section.container{
    position:absolute;
    width: 100%;
    height:100%;
    background-color:#D3D3D3;
    opacity:0.9;
}

#movelmenu ul li {
	background-color:#D3D3D3;
    padding-top:3%;
  }

#movelmenu ul li a {
    font-style: normal;
	font-size: 1.3em;
    font-weight:400;
	color:#808080;
	text-decoration: none;
	padding: 0.4% 20px;
	font-family:'Cinzel', serif;
   
}

#movelmenu ul li a:hover {
	background-color:#cccccc;
}

div.carousel-inner{
    max-height:95%;
    margin-top:3.5%;
   
    ;}
@media(min-width:1120px){div.carousel-inner{max-height:96%;}}

.home{
 background-color:#C0C0C0;
 padding:5.5%;
}
img.icone {max-width:30%;height:20%;margin:13% 0 10% 35%;
}

.info{
    background-color:#DCDCDC; 
    width:100%;
}

.info #image{
   float:left;
   margin-top:18%;
   width:35%;
   height:60%;
}

.info #image img{
    max-width:50%;
    max-height:70%;
    margin-left:40%;
}
#foto:hover{
     -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);}
h1{ 
    float:left;
    margin-top:13%;
    font-family:'Alegreya SC', serif;
    text-align:center;
    color:#808080;
    padding:1%;
    margin-left:5%;
    width:40%;
    height:10%;
}

.info p{
    margin-left:1%;
    margin-bottom:12%;
    float:left;
    padding:2%;
    text-align:center;
    width:50%;
    font-family:'Alegreya SC', serif;
    color:#808080;
    font-size:1.2em;
    font-style: italic;
    letter-spacing:0.05em;
}

footer{
    width:100%;
    background-color:#808080;
    opacity:0.8;
}

#contact{
    position: relative;
    float:left;
    left:2%;
    font-family:'Cinzel', serif;
    color:#D3D3D3;
    margin-top:4%;
    text-decoration-line:underline;
    min-height:30%;
    min-width:50px;
}

#contact p{
    position:relative;
    float:left;
    color:#D3D3D3;
    max-width:inherit;
    left:0;
    font-size:1.5em;
    font-family:'Alegreya Sans SC', sans-serif;
    
}

#redes img{
    display:block;
    float:right;
    max-width:6%;
    max-height:8%; 
    margin-top:6%;
    margin-right:35px;
 }
#redes img:hover{
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
}

